<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <!--
      固定値情報
    -->
    <!--  画面表示方法  -->
    <add key="LinkTarget" value="_self" />
    <!--  メニュー画面のＵＲＬ  -->
    <add key="ContentsToMenuUrl" value="../kouriMenu.aspx" />
    <!--  取込エラーファイル名  -->
    <add key="MstCvsFile" value="c:/bcp/TORIKOMI_CSV.csv" />

    <!--  ファイルの出力先フォルダ  -->
    <add key="ExcelOutputFolder" value="../Output/" />
    
    
  </appSettings>  
  <connectionStrings>
    <!--
      データベースの接続情報
    -->
    <add name="dbret" connectionString="Data Source=DCEDPSV0017;Initial Catalog=DBRET;Persist Security Info=True;User ID=sa;Password=sakariadmin;" providerName="System.Data.SqlClient" />
    <add name="Kouridb" connectionString="Data Source=DCEDPSV0017;Initial Catalog=Kouridb;Persist Security Info=True;User ID=sa;Password=sakariadmin;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
     <customErrors mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
